# region alias functions

#------------------------
# Utility Alias
#------------------------
apt_alias() {
  alias api='sudo apt install'
  alias apr='sudo apt remove'
  alias apu='sudo apt update'
  alias apug='sudo apt upgrade'
  alias aps='apt show'
  alias apl='apt list'
}


pipe_alias() {
  alias -g A='| awk'
  alias -g C='| pbcopy'
  alias -g G='| grep --color=auto'
  alias -g H='| head'
  alias -g T='| tail'
  alias -g L='| less -R'
  alias -g X='| xargs'
}

default_open_app_alias() {
  alias -s gz='tar -xzvf'
  alias -s zip='unzip'
  alias -s html='open'
  alias -s {mp3,mp4,wav,mkv,m4v,m4a,wmv,avi,mpeg,mpg,vob,mov,rm}='mplayer'
}

shell_alias() {
  alias reflesh='exec $SHELL -l'
  alias c='pbcopy'
  alias h="history"
  alias q='exit'
}

#-------------------------
# Application Alias
#-------------------------
docker_alias() {
  alias d='docker'
  alias de='docker exec -it'
  alias dr='docker run -dit'
  alias dcu='docker compose up -d'
  alias dcd='docker compose down'
}

exa_alias() {
  if [[ $(command -v exa) ]]; then
    alias e='exa --icons'
    alias l=e
    alias ls=e
    alias ea='exa -a --icons'
    alias la=ea
    alias ee='exa -aahl --icons'
    alias ll=ee
    alias et='exa -T -L 3 -a -I "node_modules|.git|.cache" --icons'
    alias lt=et
    alias eta='exa -T -a -I "node_modules|.git|.cache" --color=always --icons | less -r'
    alias lta=eta
    alias l='clear && ls'
  fi
}

yarn_alias() {
  alias y='yarn'
  alias yas='yarn add --save'
  alias yad='yarn add --save-dev'
}

#---------------------------
# User Alias
#---------------------------

custom_folder_alias() {
  alias pj='cd ~/Projects'
  alias dl='cd ~/Download'
}

# endregion

#-------------------------------
# Alias Settings
#-------------------------------
apt_alias
docker_alias
yarn_alias
pipe_alias
default_open_app_alias
shell_alias
custom_folder_alias
exa_alias

# other alias
alias vi='nvim'
alias init.vim='vi ~/.config/nvim/init.vim'
